<div class="jumbotron">
  <h1><%= t('.title') %></h1>
  <p><%= t('.body') %></p>
  <p><a class="btn btn-primary btn-lg" href="<%= edit_team_path(team) %>" role="button"><%= t('.edit_button')%></a></p>
</div>
