<%= form_for(@team, builder: BootstrapFormBuilder, html:{class:'form-horizontal form-team'} ) do |f| %>
 <%= render partial: 'error_report', locals: {record: @team } %>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
