<ol class="breadcrumb">
  <li><%= link_to t(:teams_path,scope: :links), teams_path %></li>
  <li class="active"><%= t(:new,scope: :links) %></li>
</ol>
<h1>Team <small>New</small></h1>

<%= render 'form' %>

<%= link_to 'Back', teams_path %>
